doctype html
html(lang="en")
  head
    title= EcoRacer
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript',src='/javascripts/thirdparty/jquery-latest.min.js')
    script(type='text/javascript',src='/javascripts/cp.js')   
    script(type='text/javascript',src='/javascripts/thirdparty/scrollTo.js')
    script(type='text/javascript',src='/javascripts/runner.js')
    script(type='text/javascript',src='https://www.google.com/jsapi')
  body
    block content