doctype html
html(lang="en")
  head
    title= EcoRacer
    link(rel='stylesheet', href='/stylesheets/main.css')
    link(rel='stylesheet', href='/stylesheets/jquery.mobile-1.4.3.min.css')
    script(type='text/javascript',src='/javascripts/thirdparty/jquery-1.10.2.min.js')
    script(type='text/javascript',src='/javascripts/thirdparty/jquery.mobile-1.4.3.min.js')
    script(type='text/javascript',src='/javascripts/thirdparty/d3.min.js')
    script(type='text/javascript',src='/javascripts/cp.js')
    script(type='text/javascript',src='/javascripts/runner.js')
    script(type='text/javascript',src='/javascripts/extra.js')
    script(type='text/javascript',src='/javascripts/submit.js')
    script(type='text/javascript',src='/javascripts/design.js')
    meta(name='viewport', content='width=1280, user-scalable=no')
  body
    block content