doctype html
html(lang="en")
  head
    title= EcoRacer
    link(rel='stylesheet', href='/stylesheets/main.css')
    script(type='text/javascript',src='/javascripts/thirdparty/jquery-1.10.2.min.js')
    script(type='text/javascript',src='/javascripts/submit.js')
    script(type='text/javascript',src='/javascripts/thirdparty/d3.min.js')
  body
    #results
      #convergence
    script(type='text/javascript').
      getResults();
      getAllPerformance();
  